################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ingrain.Services/Ingrain.Services/Properties/PublishProfiles
