@{
    ViewData["Title"] = "Contact Me";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Support:</strong> <a href="mailto:Support@ingrain.com">Support@ingrain.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ingrain.com">Marketing@ingrain.com</a>
</address>
